<div class="homeComponent" style="overflow-x: hidden; overflow-y: hidden; height: 800px; width: 100%;">

    <div style="width:1024px; height: 450px; margin: 0 auto;">
        <carousel id="featured"
                    items="vm.photos"
                    carousel-for-name="photo"
                    next-button-image-url="'../../assets/images/rotator_button_next.png'"
                    previous-button-image-url="'../../assets/images/rotator_button_prev.png'"
                    width="'675'"
                    height="'450'"
                    content-url="src/app/components/slide.html">
        </carousel>
    </div>


</div>