<div class="homeComponent viewComponent" style="overflow-x: hidden; overflow-y: hidden; height: 800px; width: 100%;">

    <div style="width:675px; height: 800px; margin: 0 auto;">
        <rotator id="featured"
                 items="vm.photos"
                 rotator-for-name="photo"
                 next-button-image-url="'../../assets/images/rotator_button_next.png'"
                 previous-button-image-url="'../../assets/images/rotator_button_prev.png'"
                 width="'675'"
                 height='450'
                 content-url="src/app/components/slide.html">
        </rotator>
    </div>

</div>